@font-face {
  font-family: 'iconfont';  /* project id 552305 */
  src: url('//at.alicdn.com/t/font_552305_1xzvu9r05ee.eot');
  src: url('//at.alicdn.com/t/font_552305_1xzvu9r05ee.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_552305_1xzvu9r05ee.woff') format('woff'),
  url('//at.alicdn.com/t/font_552305_1xzvu9r05ee.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_552305_1xzvu9r05ee.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:1em;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before { content: "\e666"; }
.icon-eye:before { content: "\e61f"; }
.icon-comment:before { content: "\e607"; }
.icon-like:before { content: "\e616"; }
.icon-like-on:before { content: "\e62c"; }
.icon-list:before { content: "\e679"; }
.icon-close:before {content: "\e603"; }
.icon-top:before {content: "\e64a"; }
.icon-qq:before {content: "\e600"; }
.icon-github:before {content: "\ea0a"; }
.icon-star:before {content: "\e681"; }
.icon-git-fork:before {content: "\e6c3"; }
.icon-git-issue:before {content: "\e60c"; }
